main
 h1 My Services:
 nav.navbar
  ul
   li 
    a(href='#')
     i.fab.fa-microsoft
     | Microsoft
   li 
    a(href='#')
     i.fab.fa-skype
     | Skype
   li 
    a(href='#')
     i.fab.fa-windows
     | Windows
   li 
    a(href='#')
     i.fab.fa-xbox
     | Xbox